@tailwind base;
@tailwind components;
@tailwind utilities;
.gradientc {
    background: linear-gradient( 180deg, rgba(255, 114, 58, 0.05) 8.29%, rgba(241, 77, 93, 0.03) 108.29%);
}

.animated-timeline .animate {
    opacity: 0;
    transform: translateY(20px);
    animation: animate-element 0.5s ease forwards;
}

@keyframes animate-element {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay each element by 0.2s */

.animated-timeline .animate:nth-child(2) {
    animation-delay: 0.2s;
}

.animated-timeline .animate:nth-child(3) {
    animation-delay: 0.4s;
}

.animated-timeline .animate:nth-child(4) {
    animation-delay: 0.6s;
}

/* Add more nth-child selectors for additional elements */